h1,
h2,
h3 {
    text-align: center;
}

h1.title {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h2.title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3.title {
    text-align: left;
    margin-top: 25px;
    font-weight: 600;
}